@model IList<KCSEntities.DAL.KCSAssessment>
@{
    ViewBag.Title = "AssessmentList";
}

<h2></h2>
<div class="panel panel-info">
    <div class="panel-heading">Assessment Completed List</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped" id="assessmentList">
                <thead>
                    <tr>
                        <th>iD</th>
                        <th>KCS Date</th>
                        <th>Business</th>
                        <th>Coach</th>
                        <th>TSE</th>
                        <th>Case</th>
                        <th>Article</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.iD</td>
                            <td>@item.AInfo1</td>
                            <td>@item.AInfo2</td>
                            <td>@item.AInfo4</td>
                            <td>@item.AInfo3</td>
                            <td>@item.AInfo5</td>
                            <td>@item.AInfo6</td>
                            <td><a href="@Url.Action("EditPage","KCSAssessment",new {iD=item.iD })">Review</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $("#assessmentList").DataTable();
    });
    
</script>